<h1><%= @page_header %></h1>
<h3><%= @movie.title %></h3>
<img src='<%= @movie.poster_url %>'/>
<br/>
<br/>
<table>
	<tr>
    	<th>Title:</th>
    	<td><%= @movie.title %></td>
  	</tr>
	<tr>
    	<th>Release Date:</th>
    	<td><%= @movie.released %></td>
  	</tr>
	<tr>
    	<th>Plot:</th>
    	<td><%= @movie.plot %></td>
  	</tr>
	<tr>
    	<th>Rated:</th>
    	<td><%= @movie.rated %></td>
  	</tr>
	<tr>
    	<th>Runtime:</th>
    	<td><%= @movie.runtime %></td>
  	</tr>
	<tr>
    	<th>Genre:</th>
    	<td><%= @movie.genre %></td>
  	</tr>
	<tr>
    	<th>Director:</th>
    	<td><%= @movie.director %></td>
  	</tr>
	<tr>
    	<th>Actors:</th>
    	<td><% @movie.actors.each do |actor|  %>
    		<%= actor %><br/>
    		<% end %>
    	</td>
  	</tr>
	<tr>
    	<th>IMDB link:</th>
    	<td><a href="<%= @movie.imdb_url%>"><%= @movie.imdb_url%></td>
  	</tr>
</table> 
<br/>
<a href="/">New Search</a>
<br/>
