      <div class="jumbotron">
        <h1><%= @movie.title %></h1>
        <img class="imdb_movie_poster" src='<%= @movie.poster_url %>'/>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Title:</h4>
          <p><%= @movie.title %></p>

          <h4>Release Date:</h4>
          <p><%= @movie.released %></p>

          <h4>Director:</h4>
          <p><%= @movie.director %></p>

          <h4>Plot:</h4>
          <p><%= @movie.plot %></p>
        </div>

        <div class="col-lg-6">
          <h4>Rated:</h4>
          <p><%= @movie.rated %></p>

          <h4>Runtime:</h4>
          <p><%= @movie.runtime %></p>

          <h4>Genre:</h4>
          <p><%= @movie.genre %></p>

          <h4>Actors:</h4>
          <p><% @movie.actors.each do |actor|  %>
            <%= actor %><br/>
          <% end %></p>

          <h4>IMDB link:</h4>
          <p><a href="<%= @movie.imdb_url%>"><%= @movie.imdb_url%></p>
        </div>
      </div>